<div class="grid grid-cols-5">
  <% var index = 0; %>
  <% arr.forEach((item) => { %>
    <% 
    // Determine if the current cell should have the kid-location class
    let isKidLocation = currentCell && currentCell.row === row && currentCell.index === index;
    let belowCurrentCell = currentCell && row > currentCell.row;
    %>
    <div class="shape <%= status %> <%= isKidLocation ? 'kid-location' : '' %> <%= belowCurrentCell ? 'remove-kid-location' : '' %>" data-row="<%= row %>" data-index="<%= index %>">
      <img src="/<%= shape %>.svg" alt="<%= shape %>">
    </div>
    <% index++; %>
  <% }); %>
</div>
