<% switch(shape) {
  case 'empty' : %>
  <div>
  </div>
  <% break;
  case 'circle' : %>
    <%- include("./circle", {status: status, index: index, row: row}) %>
  <% break;
  case 'triangle' : %>
    <%- include("./triangle", {status: status, index: index, row: row}) %>
  <% break;
  case 'square' : %>
    <%- include("./square", {status: status, index: index, row: row}) %>
  <% break;
  case 'pentagon' : %>
    <%- include("./pentagon", {status: status, index: index, row: row}) %>
  <% break;
  case 'hexagon' : %>
    <%- include("./hexagon", {status: status, index: index, row: row}) %>
  <% break;
  case 'shop' : %>
  <%- include("./shopshape", {status: status, index: index, row: row}) %>
<% break;
  }
%>