
<% switch(status) {
  case 'unvisited' : %>
  <div class="<%= isKidLocation ? 'kid-location' : '' %>">
    <form action="/startencounter" method="POST" class="hoverglow">
      <input type="hidden" name="row" value="<%- row %>">
      <input type="hidden" name="difficulty" value="square">
      <input type="hidden" name="index" value="<%- index %>">
      <input type="image" src="/square_black.svg" class="w-full" alt="home">
    </form>
    <% if (isKidLocation) { %>
      <img src="/kid-head.png" class="kid-head" alt="Kid Head">
    <% } %>
  </div>
  <% break;
  case 'chosen' : %>
  <div class="<%= isKidLocation ? 'kid-location' : '' %>">
    <!-- <form action="/encounter" method="POST">
      <input type="hidden" name="difficulty" value="square">
      <input type="image" src="/square_green.svg" class="w-full" alt="home">
    </form> -->
    <img src="/square_red.svg" class="w-full" alt="home">
    <% if (isKidLocation) { %>
      <img src="/kid-head.png" class="kid-head" alt="Kid Head">
    <% } %>
  </div>
  <% break;
  case 'notChosen' : %>
  <div class="<%= isKidLocation ? 'kid-location' : '' %>">
    <!-- <form action="/encounter" method="POST">
      <input type="hidden" name="difficulty" value="square">
      <input type="image" src="/square_red.svg" class="w-full" alt="home">
    </form> -->
    <img src="/square_red.svg" class="w-full" alt="home">
    <% if (isKidLocation) { %>
      <img src="/kid-head.png" class="kid-head" alt="Kid Head">
    <% } %>
  </div>
  <% break;
  case 'inactive' : %>
  <div class="<%= isKidLocation ? 'kid-location' : '' %>">
    <!-- <form action="/encounter" method="POST">
      <input type="hidden" name="difficulty" value="square">
      <input type="image" src="/square_black.svg" class="w-full" alt="home">
    </form> -->
    <img src="/square_black.svg" class="w-full" alt="home">
    <% if (isKidLocation) { %>
      <img src="/kid-head.png" class="kid-head" alt="Kid Head">
    <% } %>
  </div>
  <% break;
} %>
