<% switch(status) {
  case 'unvisited' : %>
  <div class="triangle-container <%= isKidLocation ? 'kid-location' : '' %>">
    <form action="/startencounter" method="POST" class="hoverglow">
      <input type="hidden" name="row" value="<%- row %>">
      <input type="hidden" name="difficulty" value="triangle">
      <input type="hidden" name="index" value="<%- index %>">
      <input type="image" src="/triangle_black.svg" class="w-full" alt="home">
    </form>
    <% if (isKidLocation) { %>
      <img class="kid-head" src="/kid-head.png" alt="Kid Head">
    <% } %>
  </div>
  <% break;
  case 'chosen' : %>
  <div class="triangle-container <%= isKidLocation ? 'kid-location' : '' %>">
    <img src="/triangle_red.svg" class="w-full" alt="home">
    <% if (isKidLocation) { %>
      <img class="kid-head" src="/kid-head.png" alt="Kid Head">
    <% } %>
  </div>
  <% break;
  case 'notChosen' : %>
  <div class="triangle-container <%= isKidLocation ? 'kid-location' : '' %>">
    <img src="/triangle_red.svg" class="w-full" alt="home">
    <% if (isKidLocation) { %>
      <img class="kid-head" src="/kid-head.png" alt="Kid Head">
    <% } %>
  </div>
  <% break;
  case 'inactive' : %>
  <div class="triangle-container <%= isKidLocation ? 'kid-location' : '' %>">
    <img src="/triangle_black.svg" class="w-full" alt="home">
    <% if (isKidLocation) { %>
      <img class="kid-head" src="/kid-head.png" alt="Kid Head">
    <% } %>
  </div>
  <% break;
} %>
