<%- include("templates/headerloggedinPREM", { overflowVariable: '' }) %>
<style>
body {
  background-image: url('/indexBG.png');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  min-height: 100vh;
}

@font-face {
  font-family: 'startfont';
  src: url('titlefont.ttf') format('truetype');
}

.start-font {
  font-family: 'startfont', sans-serif;
}

.whiteshadow {
  text-shadow: 3px 3px  white;
}
</style>
<h1 class="text-3xl px-4 font-bold mb-7 mx-auto text-center start-font whiteshadow">Achievements</h1>
<h2 class="text-2xl px-4 font-semibold mb-2 mx-auto text-center start-font whiteshadow">Unclaimed Rewards</h2>
<div class="grid p-2 max-w-md mx-auto">
  <ul>
    <% for (let i=0; i < unclaimedAchievements.length; i++) { %>
      <li
        class="pl-7 pr-6 text-md flex items-center justify-between max-w-md mx-auto bg-cover bg-center py-3 cursor-pointer"
        onclick="reward(this)"
        style="background-image: url('/username-box.png');">
        <img class="w-12 h-12 rounded-full bg-white border-4 border-gray-500 cursor-pointer"
          src="../trophy.png" alt="trophy">
        <span class="text-gray-900 mx-auto text-2xl name">
          <%- unclaimedAchievements[i].name %>
        </span>
        <div class="flex items-center">
          <img src="diamond.png" class="w-6 h-6">
          <span class="ml-1 text-gray-900 text-2xl diamonds">
            <%= unclaimedAchievements[i].reward %>
          </span>
        </div>
      </li>
    <% } %>
  </ul>
</div>
<h2 class="text-2xl px-4 font-semibold mb-2 mx-auto text-center start-font whiteshadow">Claimed Rewards</h2>
<div class="grid p-2 max-w-md mx-auto">
  <ul>
    <% for (let i=0; i < claimedAchievements.length; i++) { %>
      <li
        class="pl-7 pr-6 text-md flex items-center justify-between max-w-md mx-auto bg-cover bg-center py-3"
        style="background-image: url('/username-box.png');">
        <img class="w-12 h-12 rounded-full bg-white border-4 border-gray-500"
          src="../trophy.png" alt="trophy">
        <span class="text-gray-900 mx-auto text-2xl">
          <%- claimedAchievements[i].name %>
        </span>
        <div class="flex items-center">
          <img src="diamond.png" class="w-6 h-6">
          <span class="ml-1 text-gray-900 text-2xl">
            <%= claimedAchievements[i].reward %>
          </span>
        </div>
      </li>
    <% } %>
  </ul>
</div>

<%- include("templates/footer") %>

<script>

async function reward(obj) {
  const name = obj.querySelector('.name').innerText;
  const diamonds = parseInt(obj.querySelector('.diamonds').innerText);

    await fetch('/claimAchievement', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        achievementName: name,
        diamonds: diamonds
      })
    }).then((response) => {
      if (response.ok) {
        window.location.reload();
      } else {
        console.log('Failed to claim achievement');
        response.json().then((data) => {
          console.log(data);
        });
      }
    });
}
</script>