<%- include("templates/header", {overflowVariable: '', stylesheet: 'friends.css' }) %>
<link href="/defaultBG.css" rel="stylesheet" type="text/css">
<link href="/tight.css" rel="stylesheet" type="text/css">
  <body class="bg-gray-100">
    <div class="grid grid-flow-row">
      <div>
        <h1 class="text-3xl px-4 font-bold my-4 start-font whiteshadow text-center">Add Friends</h1>
        <ul>
          <% if (allUsers && allUsers.length> 0) { %>
            <% allUsers.forEach(user=> { %>
              <li class="pl-7 pr-6 text-md flex items-center justify-between max-w-md mx-auto bg-cover bg-center py-3"
                style="background-image: url('/username-box.png');" >
                <img class="w-12 h-12 rounded-full bg-white border-4 border-gray-500 cursor-pointer" src="/<%= user.profile_pic %>" alt="profile picture" onclick="getProfileInfo('<%= user.username %>', 'findFriends')">
                <span class="text-gray-900 text-2xl basicPixel tight cursor-pointer" onclick="getProfileInfo('<%= user.username %>', 'findFriends')">
                  <%= user.username%>
                </span>
                <img class="w-12 h-12 cursor-pointer" src="user-add.png" alt="Add Friend"
                  onclick="addFriend('<%= user.username %>'); this.parentNode.style.display = 'none';">
              </li>
              <% }); %>
                <% } else { %>
                  <li class="px-4 text-gray-900">No users to display</li>
                  <% } %>
        </ul>
      </div>
      <div class="mt-10 place-self-center">
        <form action="/profile">
          <input type="submit" class="pixel-button py-2 px-4 rounded mr-4"
            value="Back to Profile">
        </form>
      </div>
    </div>

    <!-- Success Modal -->
    <div id="successModal" class="fixed z-50 inset-0 overflow-y-auto hidden">
      <div class="flex items-center justify-center min-h-screen px-4">
        <div class="bg-white p-6 rounded-lg w-full max-w-md">
          <div class="mb-4">
            <h2 class="text-lg font-bold">Success</h2>
          </div>
          <div class="mb-4">
            <p class="text-gray-700">Friend added successfully!</p>
          </div>
          <div class="flex justify-end">
            <button onclick="closeModal('successModal')" class="pixel-button px-4 py-2">OK</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Overlay -->
    <div id="modalOverlay" class="modal-overlay"></div>

    <script>

      function getProfileInfo(friendName, source) {
        fetch(`/friendProfile?friendName=${encodeURIComponent(friendName)}`, {
          method: 'GET'
        })
          .then(response => {
            if (!response.ok) {
              throw new Error('Failed to get friend profile');
            }
            // Redirect to the friend profile page
            window.location.href = `/friendProfile?friendName=${encodeURIComponent(friendName)}&source=${source}`;
          })
          .catch(error => {
            console.error('Error updating friend profile:', error);
            alert('Failed to load friend profile');
          });
      }

      function addFriend(username) {
        // Send an AJAX request to your server to add the user to the friends list
        fetch('/addFriend', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ username: username }),
        })
          .then(response => {
            if (!response.ok) {
              throw new Error('Failed to add user to friends list');
            }
            openModal('successModal');
          })
          .catch(error => {
            console.error('Error adding user to friends list:', error.message);
            alert('Failed to add user to friends list');
          });
      }

      function openModal(modalId) {
        document.getElementById(modalId).classList.remove('hidden');
        document.getElementById('modalOverlay').classList.remove('hidden');
      }

      // Function to close modal
      function closeModal(modalId) {
        document.getElementById(modalId).classList.add('hidden');
        document.getElementById('modalOverlay').classList.add('hidden');
      }

    </script>
  </body>
  <%- include("templates/footer") %>