<%- include("templates/header", {overflowVariable: 'overflow-hidden' }) %>
<link href="/defaultBG.css" rel="stylesheet" type="text/css">
<body class="bg-gray-100">
  <div class="max-w-md mx-auto rounded-lg overflow-hidden">
    <div class="px-4 py-8">
      <div class="text-center">
        <!-- Add outline to the profile picture -->
        <img id="profileImg" class="h-28 w-28 rounded-full bg-white mx-auto border-2 border-gray-500 cursor-pointer"
          src="<%= userProfilePic %>" alt="">
        <h1 class="text-2xl font-bold mt-4">
          <%= friendName %>
        </h1>
        <p class="text-sm text-gray-600 mt-2">Web Developer</p>
      </div>
    </div>
  </div>

  <div class="flex justify-center mx-auto rounded-lg overflow-hidden">
    <!-- Use a span with an ID to dynamically update the button text -->
    <button type="submit" onclick="toggleFriend('<%= friendName %>')" id="friendButton"
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
      <% if (isFriend) { %>
        Remove Friend
        <% } else { %>
          Add Friend
          <% } %>
    </button>
    <% if (source == 'findFriends') { %>
      <form action="/<%= source %>" class="pl-3">
        <input type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-4"
          value="Back to Add Friends">
      </form>
    <% } else { %>
      <form action="/<%= source %>" class="pl-3">
        <input type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-4"
          value="Back to Friends List">
      </form>
    <% } %>
  </div>

  <!-- Add a hidden input field to store the currentUser value -->
  <input type="hidden" id="currentUser" value="<%= currentUser %>">
  <script>
    function toggleFriend(username) {
      fetch('/toggleFriend', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ username: username }),
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to toggle friend status');
          }
          return response.json();
        })
        .then(data => {
          updateButtonText(username, data.removed);
        })
        .catch(error => {
          console.error('Error toggling friend status:', error.message);
          alert('Failed to toggle friend status');
        });
    }

    function updateButtonText(username, removed) {
      const friendButton = document.getElementById('friendButton');
      const isFriend = !removed;
      if (isFriend) {
        friendButton.textContent = 'Remove Friend';
      } else {
        friendButton.textContent = 'Add Friend';
      }
    }
  </script>
</body>
<%- include("templates/footer") %>