<%- include("templates/header", {overflowVariable: 'overflow-hidden' }) %>

<style>
  @font-face {
    font-family: 'basicPixel';
    src: url('/Apple_.ttf') format('truetype');
  }


  #player-stats, h2 {
    font-family: 'basicPixel';
  }

  #player-stats {
    background-color: #f8f8f8;
    border-radius: 10px;
    border-width: 3px;
    border-color: black;
    margin: 0 auto;
    width: 90%;
  }

  #user-info{
    padding: 5px;
  }


</style>

<link href="/defaultBG.css" rel="stylesheet" type="text/css">
<body class="bg-gray-100">
  <div class="max-w-md mx-auto rounded-lg overflow-hidden">
    <div class="px-4 py-8">
      <div class="text-center">
        <!-- Add outline to the profile picture -->
        <img id="profileImg" class="h-28 w-28 rounded-full bg-white mx-auto border-2 border-gray-500 cursor-pointer"
          src="<%= userProfilePic %>" alt="">
        <h1 class="text-2xl font-bold mt-4">
          <%= friendName %>
        </h1>
        <p class="text-sm text-gray-600 mt-2"><%= friendTitle %></p>
        <p class="text-sm text-gray-600 mt-2"><%= friendBio %></p>
      </div>
    </div>
  </div>

  <div id="player-stats">
    <div class="p-4 text-center relative z-10">
      <h2 class="font-bold"><u>Stats</u></h2>
        <p id="gold" class="text-sm text-black mt-2">Gold Collected: <%= friendGold %></p>
        <p id="runs" class="text-sm text-black mt-2">Runs Completed: <%= friendRuns %></p>
        <p id="damage" class="text-sm text-black mt-2">Damage Dealt: <%= friendDamage %></p>
    </div>
</div>

  <div class="mt-20 flex justify-center mx-auto rounded-lg overflow-hidden">
    <!-- Use a span with an ID to dynamically update the button text -->
    <button type="submit" onclick="toggleFriend('<%= friendName %>')" id="friendButton"
      class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
      <% if (isFriend) { %>
        Remove Friend
        <% } else { %>
          Add Friend
          <% } %>
    </button>
    <% if (source == 'findFriends') { %>
      <form action="/<%= source %>" class="pl-3">
        <input type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-4"
          value="Back to Add Friends">
      </form>
    <% } else { %>
      <form action="/<%= source %>" class="pl-3">
        <input type="submit" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mr-4"
          value="Back to Friends List">
      </form>
    <% } %>
  </div>

  <!-- Add a hidden input field to store the currentUser value -->
  <input type="hidden" id="currentUser" value="<%= currentUser %>">
  <script>
    function toggleFriend(username) {
      fetch('/toggleFriend', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ username: username }),
      })
        .then(response => {
          if (!response.ok) {
            throw new Error('Failed to toggle friend status');
          }
          return response.json();
        })
        .then(data => {
          updateButtonText(username, data.removed);
        })
        .catch(error => {
          console.error('Error toggling friend status:', error.message);
          alert('Failed to toggle friend status');
        });
    }

    function updateButtonText(username, removed) {
      const friendButton = document.getElementById('friendButton');
      const isFriend = !removed;
      if (isFriend) {
        friendButton.textContent = 'Remove Friend';
      } else {
        friendButton.textContent = 'Add Friend';
      }
    }
  </script>
</body>
<%- include("templates/footer") %>