<%- include("templates/header") %>
<div class="grid grid-rows-9 p-2">
  <%- include("templates/mapTemplates/row", {arr: rows.row4, active: rows.r4active}) %>
  <div class="grid grid-cols-5">
    <div></div>
    <div><img class="object-contain" src="/right.svg" alt="home"></div>
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
    <div><img class="object-contain" src="/left.svg" alt="home"></div>
    <div></div>
  </div>
  <%- include("templates/mapTemplates/row", {arr: rows.row3, active: rows.r3active}) %>
  <div class="grid grid-cols-5">
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
    <div></div>
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
    <div><img class="object-contain" src="/left.svg" alt="home"></div>
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
  </div>
  <%- include("templates/mapTemplates/row", {arr: rows.row2, active: rows.r2active}) %>
  <div class="grid grid-cols-5">
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
    <div><img class="object-contain" src="/right.svg" alt="home"></div>
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
    <div></div>
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
  </div>
  <%- include("templates/mapTemplates/row", {arr: rows.row1, active: rows.r1active}) %>
  <div class="grid grid-cols-5">
    <div></div>
    <div><img class="object-contain" src="/left.svg" alt="home"></div>
    <div><img class="object-contain" src="/middle.svg" alt="home"></div>
    <div><img class="object-contain" src="/right.svg" alt="home"></div>
    <div></div>
  </div>
  <%- include("templates/mapTemplates/row", {arr: rows.row0, active: rows.r0active}) %>
</div>
<%- include("templates/footer") %>