<%- include("templates/headerloggedin", { overflowVariable: '' }) %>
<link href="/defaultBG.css" rel="stylesheet" type="text/css">
  <div class="grid auto-rows-auto gap-y-3 mx-2">
    <div><img src="/victory.png" class="w-full" alt="home"></div>
    <div class="text-4xl text-center mx-2 title-font">You have defeated the enemy!</div>
    <div class="pt-10 text-2xl text-center mx-2 title-font">
      Coins Received: <%= coinsWon %> <img src="/goldCoin.png" class="w-5 inline" alt="coin">
    </div>
    <div class="flex justify-center items-center pt-10">
      <a href="<%= redirect %>"
        class="px-6 py-3 pixel-button">Back
        to <%= page %></a>
    </div>
  </div>
  <%- include("templates/footer") %>
  <style>
    @font-face {
    font-family: 'titlefont';
    src: url('./ttf/victory.ttf') format('truetype');
    }
  
    .title-font {
    font-family: 'titlefont', sans-serif;
    }
  </style>