<!DOCTYPE html>
<html lang="en">
<link href="/tight.css" rel="stylesheet" type="text/css">
<link href="/hoverglow.css" rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CodeCrypt</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/healthbar.css">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="/pixelButton.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" type="text/css" href="/header.css">
</head>
<body class="<%= overflowVariable %>">
  <div class="header pt-5 px-3 relative mb-10" style="height: 7vh;">
    <div class="flex justify-between items-center h-full">
      <div>
        <form action="/">
          <input type="submit" class="text-black basicPixel pixel-button" value="Main Menu">
        </form>
        <div class="help-button" onclick="selectModal()">
          <img id="image" src="i_orange.svg" class="w-10 h-10 mt-2" onmouseover="hoveredImage()" onmouseleave="revertImage()">
        </div>
      </div>
      <div class="flex items-center">
        <% if (gameStarted) { %>
        <div class="flex items-center mr-6">
          <img src="coin.png" class="w-10 h-10">
          <span class="text-lg sm:text-2xl basicPixel tight">
            <%= playerCoins %>
          </span>
        </div>
        <% } %>
        <div class="flex items-center mr-6">
          <img src="diamond.png" class="w-10 h-10" onclick="clicker()">
          <span class="text-lg sm:text-2xl basicPixel tight">
            <%= slotsCurrency %>
          </span>
        </div>
        <img
          class="ml-4 h-12 w-12 md:h-14 md:w-14 lg:h-16 lg:w-16 rounded-full bg-white border-2 border-gray-500 hover:border-black cursor-pointer"
          src="<%= userProfilePic %>" alt="Profile Picture" onclick="window.location.href='/profile?from=achievements'">
      </div>
    </div>
  </div>
  <div id="warningModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50 hidden">
    <div class="bg-white rounded-lg p-8 text-center">
      <h2 class="text-xl basicPixel mb-4">Welcome to the Premium Shop! Splurge your diamonds on exclusive profile pictures and titles to personalize and distinguish your profile!</h2>
      <div class="flex justify-center space-x-4">
        <button onclick="hideModal(this)" class="basicPixel px-4 py-2 bg-gray-300 rounded-lg">Exit</button>
      </div>
    </div>
  </div>
  <script>
    function selectModal() {
      document.getElementById('warningModal').classList.remove('hidden');
    }
  </script>
  <%- include("informationIcon") %>
</body>